/*a {
  color: black
}*/

/*::-webkit-input-placeholder {
  color:red;
  text-align: center;
}*/

/*.scroll{
  overflow: scroll;
  height: 80%
}

.bold {
  font-weight: bold;

}

.error_messages {
  color: red;
}


.center_title {

  text-align: center;
}

.body_wrapper {
  margin: 30px;
}

.dash-text {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px lightgrey;
}

.footer_parent {
  text-align: center;
  padding-top: 50px;
  font-family: roboto;
  font-style: italic;
  font-size: 25px;
}*/

/*.message_pop {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
}

.order_select {
  width: 250px;
  text-align: center;
  display: inline !important;
}*/
#apple-pay-button {
  /*display: none;*/
  background-color: black;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-size: 100% 100%;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 44px;
  padding: 10px 0;
  border-radius: 10px;
}
.smiota-store {
	/*height: 1.625em;*/
	/*width: 10.25em;*/
	color: #000000;
	font-family: Raleway;
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.125em;
	line-height: 1.8em;
}
.steps {
	height: 24px;
	/*width: 48px;*/
	color: rgba(0,0,0,0.54);
	font-family: Roboto;
	font-size: 1em;
	line-height: 24px;
	text-align: center;
  margin-top: 0px;
}
.button-bg {
	height: 36px;
	width: 260px;
  /*width: auto;*/
	border-radius: 2px;
	background-color: #00BBD3;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
}
.facebook {
	height: 1em;
	width: 4.12em;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 1em;
	font-weight: 400;
  /*font-weight: was 500*/
	line-height: 1em;
	text-align: center;
}
.google {
	height: 1em;
	width: 3em;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 1em;
	font-weight: 400;
	line-height: 1em;
	text-align: center;
}
.linked-in {
	height: 1em;
	width: 3.625em;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: .875em;
	font-weight: 500;
	line-height: 1em;
	text-align: center;
}
.smiota-store-workd {
	height: 1em;
	/*width: 11.6em;*/
  margin-top: 20px;
	color: #FFFFFF;
	font-family: Raleway;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1em;
  display: inline-block;
  vertical-align: top;
}
.available-now {
	height: 16px;
	width: 120px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
}
.tabs .tab {
  text-transform:none !important;
}
.tabs.tabs-transparent .indicator {
  background-color: #1B2430 !important;
}
.products {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: auto;
  margin-left: 16px;
}
.productName {
	height: 24px;
	width: auto;
	color: rgba(0,0,0,0.87);
	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
  margin-top: 2px;
}
.productDesc {
	height: 20px;
	width: auto;
	color: rgba(0,0,0,0.54);
	font-family: Roboto;
	font-size: 14px;
	line-height: 20px;
  margin: 0px;
}
.productPrice {
	height: 24px;
	width: auto;
	color: rgba(0,0,0,0.87);
	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
  margin: 0px;
  display: block;
}
/*end of file*/
