

<div ng-controller = "allProductsController">

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<h3>Hi, {{ username }}</h3>
<h5>NAV go here</h5>
<h5><a href="#!/cart">See Your Cart</a></h5>
<h4>These are all our products</h4>
<table ng-if = "products">
  <h2>You can search also</h2><label>Search: <input type="text" placeholder="Search Products/ Brands/ Descriptions/ anything you want" ng-model="filter_name"></label>
   <tr>
     <th>Product Index</th>
     <th>Product Name</th>
     <th>Product Description</th>
     <th>Product Image</th>
     <th>Product Price</th>
     <th>Others Price</th>
     <th>In Stock</th>

   </tr>
   <tr ng-repeat = "product in products | filter: filter_name">
     <td> <span ng-bind="product.name"></span> </td>
     <td> <span ng-bind="product.description"></span> </td>
     <td><img src="{{product.image}}" class="auto-img border" style="width: 25%; height: 25%;"></td>
     <td> $<span ng-bind="product.price"></span> </td>
     <td> $<span ng-bind="product.others_price"></span> </td>
     <td><span ng-bind="product.quantity"></span> </td>
     <!-- <td>Choose your quantity<input type="number" min="1" max="5" ng-model="selectedQuantity"></td> -->

       <!-- HAVE SOMETHING TO LET USER PICK QUANTITY -->
         <!-- <select>
         <option>Choose your quantity</option>
       </select> -->


 <!-- <td><button ng-click = 'addToCart(product)'>Add to Cart</button></td> -->

 <td><a href="#!/show/{{product._id}}">See Item</a></td>




   </tr>
 </table>
</div>
