<nav style="background-color: #00BBD3; width: 100%;">
  <div class="nav-wrapper">






    <p class="smiota-store-workd">Checkout</p>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- <a href="#!/all" ><i  style="margin-left: 200px; " class="material-icons">close</i></a> -->
    <!-- <i style="margin-left: 200px; border: 1px solid black; display: inline-block;" class="material-icons">close</i> -->
<!--
    <a href="/#!/all" style="border: 1px solid black; width: 25px;"></a>
    <i class="material-icons" style="display; inline-block; margin-left=150px;">close</i> -->

    <!-- <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul> -->
    <ul class="side-nav" id="mobile-demo">
      <li  class="active"><a style="color: #00BBD3; font-family: Roboto; font-size: 1.15em; line-height: 1.7em; margin-top: 80px; padding-top:10px;    font-weight: 300;" href="#">Shop</a></li>
      <li><a style="color: #00BBD3; font-family: Roboto; font-size: 1.15em; line-height: 1.7em;padding-top:10px; font-weight: 300;" href="#!/orders">My Orders</a></li>
      <li><a style="color: #00BBD3; font-family: Roboto; font-size: 1.15em; line-height: 1.7em;padding-top:10px;font-weight: 300;" href="#!/account">My Account</a></li>
     <li><a style="color: #00BBD3; font-family: Roboto; font-size: 1.15em; line-height: 1.7em;padding-top:10px;font-weight: 300; margin-top: 50px;"  href="#!/signout">Sign Out</a></li>
    </ul>


<!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script> -->

  </div>

</nav>




<div class="container">


<h5 class="cart-1-item">Cart ({{ cartTotal }} item)</h5>

<div class="row" style="margin-bottom: 0px;">

  <div class="col s6">
    <p class="cart_texts" style="width: 2.3em">Total</p>
    <p class="cart_texts" style="width: 2.65em">Taxes</p>
    <p class="cart_texts" style="width: 5em">Order Total</p>
  </div>

  <div class="col s6">
    <p class="right-align cart_texts">{{totalPrice}}</p>
    <p class="right-align cart_texts">what tax??</p>
    <p class="right-align total">Total</p>
  </div>

</div>
<div class="col s12 right-align" style="height: auto; width: auto;">
  <button type="button" id="paywithapplepay" class="payBtn" ng-click= "applePayButtonPressed()"><span class="pay-with-apply-pay">Pay with Apple Pay</span></button>
</div>

<div class="divider" style="margin-top: 1.4em; margin-bottom: 1.4em"></div>

<span class="all-items-are-availa">All items are are available for pickup</span>

<div ng-repeat = "item in cart" style="margin-bottom: 1.4em">
  <div style="display: inline-block;">
    <img src="{{item.item.image}}" class="responsive-img" style="height: 80px; width: 80px; margin-left: 1.15em;">
  </div>

  <div style="display: inline-block; height: auto; width: 10em; vertical-align: top;">

    <p class="productName products" style="width: 7.1em; height: auto; margin-bottom: 0px; "><span ng-bind="item.item.name"></span></p><br>

    <!-- <button type="button" class="removeItem" value="Remove" ng-click="deleteFromCart(item)" style="display; margin-left: 10px;">Remove</button> -->

    <input type="submit" class="removeItem" value="Remove" ng-click="deleteFromCart(item)" style="display; margin-left: 10px;">
  </div>

  <div class="" style="display: inline-block; vertical-align: top; margin-top: 5px; ">
    <p class="cartItemPrice products">$<span ng-bind="item.item.price"></span></p>
  </div>

  <div class="divider" ></div>
</div>


<!-- <table ng-if = "cart">
   <tr>
     <th>Product Name</th>
     <th>Product Description</th>
     <th>Product Image</th>
     <th>Product Price</th>
     <th>Others Price</th>
     <th>In Cart</th>
   </tr>
   <tr ng-repeat = "item in cart">
     <td> <span ng-bind="item.item.name"></span> </td>
     <td> <span ng-bind="item.item.description"></span> </td>
     <td><img src="{{item.item.image}}" class="auto-img border" style="width: 25%; height: 25%;"></td>
     <td> $<span ng-bind="item.item.price"></span> </td>
     <td> $<span ng-bind="item.item.others_price"></span> </td>
     <td><input type="number" min="item.quantity" ng-init="newQuantity=item.quantity" ng-model="newQuantity"> </td>
     <td><input type="submit" ng-click="editCart(item, newQuantity)" value="Update"></td>
     <td><input type="submit" value="Remove from Cart" ng-click="deleteFromCart(item)">
 {{error_messages}}
   </tr>
 </table> -->
<div class="row">
  <div class="col s6">
    <p class="location" style="margin: 0px; margin-bottom: 20px;">Location</p>
    <p class="workday-bldg-2" style="margin: 0px; margin-bottom: 5px;">Workday bldg 2</p>
    <p class="store-location" style="margin: 0px;">Store location</p>

  </div>
  <div class="col s6" style="margin-top: 30px;">
    <p class="timing" style="width: auto">9 am to 6 pm</p>
  </div>
</div>


 </div>
