<h5>Review your order</h5>
{{username}}'s Order

<table ng-if = "cart">
   <tr>
     <th>Product Name</th>
     <th>Product Description</th>
     <th>Product Image</th>
     <th>Product Price</th>


   </tr>
   <tr ng-repeat = "item in cart">
     <td> <span ng-bind="item.item.name"></span> </td>
     <td> <span ng-bind="item.item.description"></span> </td>
     <td><img src="{{item.item.image}}" class="auto-img border" style="width: 25%; height: 25%;"></td>
     <td> $<span ng-bind="item.item.price"></span> </td>
     <td><input type="number" min="item.quantity" ng-init="newQuantity=item.quantity" ng-model="newQuantity"> </td>
 {{error_messages}}
   </tr>
 </table>
 <button type="button">Pay</button>
