<div class="section no-pad-bot" id="index-banner">

  <!-- <script>
  console.log("this is from inside the script");
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  };
  var onFailure = function(error) {
    console.log(error);
  };

  function onSuccess(googleUser) {
    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
  };

  function renderButton() {
gapi.signin2.render('my-signin2', {
  'scope': 'profile email',
  'width': 240,
  'height': 50,
  'longtitle': true,
  'theme': 'dark',
  'onsuccess': onSuccess,
  'onfailure': onFailure
});
}
  // Sign Out of Google
  function signOut() {
  var auth2 = gapi.auth2.getAuthInstance();
  auth2.signOut().then(function () {
    console.log('User signed out.');
  });
  }

</script> -->


  <div class="container">
    <br><br>
    <h1>Smiota Store</h1>
    <div class="row center">
      <h5 class="header col s12 light">Get your groceries here!</h5>
    </div>
    <div class="row center">
      <h5 class="header col s12 light">Login above to continue</h5>
    </div>
    <br><br>

    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

  </div>
</div>
