
<div ng-controller = "newController">
<form ng-submit = "create()">
  <h5></h5>
  Product Name: <input type="text" ng-model = "newProduct.name" >
  Product Description: <input type="text" ng-model = "newProduct.description" >
  Product Image: <input type="text" ng-model = "newProduct.image" >
  Product Price: <input type="price" ng-model = "newProduct.price" >
  Others Price: <input type="text" ng-model = "newProduct.others_price" >
  <input type="submit" value="Submit" >
</form>

<h4>These are all the products function which will be moved once we get images and can have a seperate route for see all products possibly with a filter</h4>

<table ng-if = "products">
   <tr>
     <th>Product Name</th>
     <th>Product Description</th>
     <th>Product Image</th>
     <th>Product Price</th>
     <th>Others Price</th>

     <th>Edit</th>
     <th>Delete</th>

   </tr>
   <tr ng-repeat = 'product in products track by $index'>
     <td> <span ng-bind="product.name"></span> </td>
     <td> <span ng-bind="product.description"></span> </td>
     <td><img src="{{product.image}}" class="auto-img border" style="width: 25%; height: 25%;"></td>
     <td> $<span ng-bind="product.price"></span> </td>
     <td> $<span ng-bind="product.others_price"></span> </td>
 <td><a href="#!/edit/{{product._id}}">Edit</a></td>
 <td><button ng-click = 'delete(product)'>Delete</button></td>

   </tr>
 </table>
</div>
