<nav style="background-color: #00BBD3; width: 100%;">
  <div class="nav-wrapper">
    <p class="smiota-store-workd">Order Details</p>
    <a href="#" onclick="window.history.back()" class="button-collapse"><i class="material-icons">arrow_back</i></a>
  </div>
</nav>
<div class="container">

<div class="row">
  <p>Order </p>
  <p>Ready for pickup</p>
</div>

<div class="row">
  <p>Please pick up your order before June 24th.</p>
</div>

<div class="row">
  <div class="col s6">
    <p>Total</p>
    <p>Taxes</p>
    <p>Order Total</p>
  </div>
  <div class="col s6">
    <p>total money</p>
    <p>taxes</p>
    <p>order total</p>
  </div>
</div>
<div class="divider"></div>
<p>Items</p>
<div class="row">
  <div class="divider"></div>
</div>



</div>
