<div class="row">
  <h2>All set! Use this QR code at pick up.</h2>
</div>

<div class="row">
  qrcode
</div>

<div class="divider"></div>

<div class="row">
  <h3>Available for pick up now {{ }}</h3>
  <div class="row">
    <div class="col s3">
      image
    </div>
    <div class="col s9">
      items
    </div>
  </div>
</div>

<div class="divider"></div>
<!-- ********************** -->

<!-- <div id="qrcode"></div> -->


<!-- <input id="text" type="text" value="https://hogangnono.com" style="width:80%" /><br /> -->

<div id="qrcode"></div>


<!-- ********************** -->
<div class="row">
  <h3>Pick up today after 5pm</h3>
  <div class="row">
    <div class="col s3">
      image
    </div>
    <div class="col s9">
      items
    </div>
  </div>
</div>
<div class="divider"></div>

<div class="row">
  <div class="col s6">

  </div>
  <div class="col s6">

  </div>
</div>
