<h5>Review your order</h5>
{{username}}'s Order

<div ng-if = "order">
  <div>
    <h4>Name: {{ order.user.username }}</h4>
    <h4>  Email: {{ order.user.email }} </h4>
    <h4>Order Placed: {{ order.dateOfOrder }}</h4>
    <h4>Order # {{ order._id }}</h4>
  </div>
</div>

<h5>Please review your order and PAY UP!</h5>
<table ng-if = "order">
   <tr>
     <th>Product Name</th>
     <th>Product Category</th>
     <th>Product Description</th>
     <th>Product Image</th>
     <th>Product Price</th>
     <th> Amount</th>


   </tr>
   <tr ng-repeat = "y in order.products">
     <td> <span ng-bind="y.item.name"></span> </td>
     <td> <span ng-bind="y.item.category"></span> </td>
     <td> <span ng-bind="y.item.description"></span> </td>
     <td> <img src="{{y.item.image}}" class="auto-img border" style="width: 25%; height: 25%;"> </td>
     <td> $ <span ng-bind="y.item.price"></span> </td>
     <td> <span ng-bind="y.quantityBought"></span> </td>

 {{error_messages}}
   </tr>
 </table>




 <button type="button" id="apple-pay-button"></button>
