<div ng-controller= "adminController">
<form ng-submit = "update()">
  <h5>Edit {{product.name}} </h5>
  <input type="text" ng-model = "product.name" >
  Product Description: <input type="text" ng-model = "product.description" >
  Product Image: <input type="text" ng-model = "product.image" >
  Product Price: <input type="price" ng-model = "product.price" >
  Others Price: <input type="text" ng-model = "product.others_price" >  <input type="submit" value="Update" >
  Product Quantity: <input type="price" ng-model = "product.quantity" >



 </div>
